:root{
    --bg-main-color: #e9ecef;
    --font-main-color:#212529;
    --project-tile-color: #f8f9fa;
    --accent-color:#7048e8;
    --side-bar-color: #343a40;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg-main-color);
    color: var(--font-main-color);
    font-family: 'Roboto', sans-serif;
}
main.dashboard-container{
    display: flex;
    min-height: 100vh;
    .left-container{
        width: max(300px, 20vw);
        background-color: var(--side-bar-color);
        color: var(--bg-main-color);
        font-size: 18px;
        padding:2rem;
        .nav-list{
            padding-top: 1.75rem;
            .nav-item{
                margin-top: 8px;
                list-style-type: none;
            }
        }
    }
    .right-container{
        display: flex;
        flex-direction: column;
        width: max(80vw, 600px);
        .nav-container-right{                  background-color: var(--project-tile-color);;
            border-bottom: 1px solid var(--font-main-color);
            padding: 2rem 3rem;
            box-shadow: 0px 2px 4px rgba(0,0,0,0.13);
            .search-bar-container,.nav-utility{
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            .icon-container-nav p{
                display: inline;
                margin-left: 1rem;
            }
        }
        div.container{
            display: flex;
            padding:2rem;
            gap: 1rem;
            main.projects-container{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 18px repeat(2, 1fr);
                gap: 24px;
                h3.projects-title{
                    grid-column: 1/span 2;
                }
                .project-item{
                    border: 1px solid var(--font-main-color);
                    border-left: 8px solid var(--accent-color);
                    padding: 1.5rem;
                    border-radius: 8px;
                    background-color: var(--project-tile-color);
                    box-shadow: 0px 2px 4px rgba(0,0,0,0.13);
                }
            }
            section.sidebar{
                display: grid;
                grid-template-rows: 18px 1fr 18px 1fr;
                gap: 24px;
                .project-item{
                    background-color: var(--project-tile-color);
                    border: 1px solid var(--font-main-color);
                    border-radius: 8px;
                    padding: 1.5rem;
                    box-shadow: 0px 2px 4px rgba(0,0,0,0.13);
                    &:first-of-type(){
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}