*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main.dashboard-container{
    display: flex;
    .left-container{
        width: max(300px, 20vw);
        background-color: aqua;
        padding:2rem;
        .nav-list{
            padding-top: 1.75rem;
            .nav-item{
                margin-top: 8px;
                list-style-type: none;

            }
        }
    }
    .right-container{
        display: flex;
        flex-direction: column;
        width: max(80vw, 600px);
       
        .nav-container-right{
            border: 2px solid black;
            padding: 2rem 1rem;
            box-shadow: 0px 2px 4px rgba(0,0,0,0.13);
            .search-bar-container,.nav-utility{
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            .icon-container-nav p{
                display: inline;
                margin-left: 1rem;
            }
        }
    }
}